body {
    background-color: #fff5e9;
}
@font-face {
    font-family: 'Poppins';
    src: url("Poppins-Medium.woff2");
  }
.fuenteIvan{
    font-family: 'Poppins', sans-serif;
}
.estiloActivoTicketCaja {
    background-color: #ffb5bc85 !important;
}

@media (min-width: 768px){
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1  {
      width: 100%;
      *width: 100%;
    }
  }
  
  @media (min-width: 992px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
      width: 14.285714285714285714285714285714%;
      *width: 14.285714285714285714285714285714%;
      max-width: 14.285714285714285714285714285714% !important;
  flex:none !important;
    }
  }
   
  @media (min-width: 1200px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
      width: 14.285714285714285714285714285714%;
      *width: 14.285714285714285714285714285714%;
      max-width: 14.285714285714285714285714285714% !important;
  flex:none !important;
    }
  }
  .clientesAnchoNombre {
    width: 40%;
  }
  .clientesAnchoBotones {
    width: 60%;
  }

  .estiloTicketSeleccionado {
    background-color: #f07070;
  }

  /* CIERRE */
.cierreCaja {
  font-family: 'Consolas';
}
.cierreCaja #tienda {
  text-align: center;
}
#tiendaResum {
  display: block;
  width: 100px;
  height: 100%;
  margin: 0 auto;
  margin-top: -3vh;
}
#datosTienda {
  font-size: 14px;
}
#datosVenta {
  font-size: 20px;
}
#pagosTargeta {
  position: absolute;
  right: 0px;
  height: 263px;
  overflow-y: scroll;
  width: 445px;
  margin-top: -36%;
}
/* DATOS */
.iconoDatos {
  font-size: 72px;
  cursor: pointer;
}
.botonBorrar {
  cursor: pointer;
  padding-right: 5px;
  margin: 0 70px 0px 70px;
}

.modDialog {
  width: 100% !important;
  height: 100% !important;
  margin: 0;
  padding: 0;
}

.modContent {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}