body {
    background-color: #fff5e9;
}
@font-face {
    font-family: 'Poppins';
    src: url("Poppins-Medium.woff2");
  }
.fuenteIvan{
    font-family: 'Poppins', sans-serif;
}
.estiloActivoTicketCaja {
    background-color: #ffb5bc85 !important;
}