#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    color: #fff;
    text-align: center;
    background-color: rgb(126, 191, 235);
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 999999;
    left: 50%;
    bottom: 30px;
  }

  #snackbar.error {
    background-color: rgb(214, 88, 88) !important;
  }
  #snackbar.success {
    background-color: rgb(146, 219, 137) !important;
    color: rgb(24, 24, 24);
  }
  #snackbar.danger {
    background-color: rgb(250, 200, 91) !important;
    color: rgb(24, 24, 24);
  }
  #snackbar.normal {
    background-color: rgb(126, 191, 235) !important;
    color: rgb(24, 24, 24);
  }

  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }